/1st_pro.py
/calculator.py
/choose_your_own_adventure.py
/email_validation.py
/expriment.py
/gitandhithub.png
/gun_detection.py
/idk.py
/Instagram_profile.png
/my_linkedin_profile.png
/otp_generate_in.py
/passwords.txt
/password_manager.py
/Qr_code.py
/quiz!.py
/rock_paper_scissors.py
/snake_water_gun_game.py
/tempCodeRunnerFile.py
/The_perfact_Guess.py